<div class="thanks_section layout_padding">
  <div class="container">
    <h1>Cảm Ơn</h1>
    <p>Chúng tôi sẽ liên hệ lại sau!</p>
    <p><a href="{{ url('frica.contact') }}">Quay lại trang liên hệ</a></p>
  </div>
</div>
